.btn--green:hover{
    background-color: $dark-green;
}
.header_nav{
    a:hover{
        color: $dark-green;
        &::after{
            bottom: -5px;
            background-color: $dark-green;
        }
    }
}
.header_logo:hover{
    animation: heartBeat 500ms infinite;
}
.item_vitrine:hover{
    img{
        transform: scale(1.2);
    }
}
.filter{
    a:hover{
        color: $dark-green;
    }
}